@{
    ViewData["Title"] = "Home Page";
    
        GetRatedMovies obj = new GetRatedMovies();
        obj.GetMovie();
    
}
    <body>
        <div class="text-center">
            <h1 class="display-4">Home</h1>

            

            <div id="movie-list">
                @for (int i = 0; i < 20; i++)
                {
                    <div class="movie">
                        <a asp-protocol="https"
                           asp-host="themoviedb.org"
                           asp-controller="movie"
                           asp-action=@obj.MovieID(i)
                           target="_blank">
                            <p><img src=@obj.PosterPath(i) alt=@obj.MovieTitle(i)></p>
                        </a>
                        <p><b>@obj.MovieTitle(i)</b></p>
                        <p>Release Date: @obj.MovieReleaseDate(i)</p>
                        <p>Rating: @obj.MovieRating(i)</p>
                        

                    </div>

                }
            </div>



        </div>
    </body>
    
